<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
    
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='main/vendor/bootstrap/css/bootstrap.min.css') }}">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{{ url_for('static', filename='main/css/scrolling-nav.css') }}">

    <title>COVID-19 STATS - JAVASCRIPT</title>
</head>


<body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
        <div class="container">

            <a class="navbar-brand js-scroll-trigger" href="/home"> COVID-19 INFO </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon">
                    <img class="logo" src="./static/img/logo.png" alt="">
                </span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/chat"> CHAT WITH CORONA </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/"> ABOUT </a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>

    
    <header class="bg-primary text-white my-5" style="background: url('https://source.unsplash.com/1600x900/?health,corona')  no-repeat center center;">
        <div class="container text-center">
            <h1> About COVID-19 </h1>
            <p class="lead"></p>
        </div>
    </header>
    <section id="services" class="bg-light">
        <div class="container">
            <div class="column">
                <div class="col-md-12 mx-auto">
                     <h2> COVID-19 </h2>
                    <p class="lead">Coronaviruses (CoV) are a large family of viruses that cause illness ranging from the common cold to more severe diseases such as Middle East Respiratory Syndrome (MERS-CoV) and Severe Acute Respiratory Syndrome (SARS-CoV). A novel coronavirus (nCoV) is a new strain that has not been previously identified in humans.

Coronaviruses are zoonotic, meaning they are transmitted between animals and people. Detailed investigations found that SARS-CoV was transmitted from civet cats to humans and MERS-CoV from dromedary camels to humans. Several known coronaviruses are circulating in animals that have not yet infected humans.

Common signs of infection include respiratory symptoms, fever, cough, shortness of breath and breathing difficulties. In more severe cases, infection can cause pneumonia, severe acute respiratory syndrome, kidney failure and even death.

Standard recommendations to prevent infection spread include regular hand washing, covering mouth and nose when coughing and sneezing, thoroughly cooking meat and eggs. Avoid close contact with anyone showing symptoms of respiratory illness such as coughing and sneezing</p>
                </div>
                
            </div>
            
        </div>
    </section>
    <section id="services" class="bg-light">
        <div class="container">
            <div class="column">
                <div class="col-md-12 mx-auto">
                <h2> OUR TEAM </h2>
    <p>There is significant global media attention on the spread of Coronavirus, which has led to justifiable consumer concern about the risks from COVID-19 and an ‘Infodemic’. Fears about the risks from this outbreak, and the scale of the public health challenge, have resulted in a significant increase in people seeking information about what to do to protect and prevent the virus.

  <br>Consumers are searching online sources for guidance on what they should do. However, not all information is based on sound science. The information void has led to the occurrence of misinformation, misperceptions and myths propagated by sources that lack the credibility to provide authoritative comment.

 <br>Despite the consensus amongst the medical community that there exists no cure for COVID-19, self-proclaimed experts and pundits across a variety of social channels are pervasive and are perpetuating ways to protect against or cure the virus. Everything from consuming bleach or antibacterial liquids in small doses to fearmongering is becoming commonplace.

 <br>The misinformation, misperceptions and myths have the potential to lead to harmful public health outcomes and significantly limit the adoption of evidence-based prevention measures as advised by leading public health experts.

 <br>The aim of COVID-19 facts is to provide accurate and credible information to counter myths </p>
</div>
               
            </div>
            
        </div>

        <div class="col-lg-4 my-3 align-content-center" style="margin-left: 38%;">
                <a href="/chat" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true"> TALK TO COVID-19 BOT</a>
            
        </div>
    </section>

<section class="my-5 text-center">
<h3>Further resources are available online here: <svg class="bi bi-arrow-90deg-down" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M2.646 9.646a.5.5 0 0 1 .708 0L6 12.293l2.646-2.647a.5.5 0 1 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 0 1 0-.708z"/>
  <path fill-rule="evenodd" d="M6 13a.5.5 0 0 1-.5-.5V6A2.5 2.5 0 0 1 8 3.5h5.5a.5.5 0 0 1 0 1H8A1.5 1.5 0 0 0 6.5 6v6.5a.5.5 0 0 1-.5.5z"/>
</svg></h3>
<p class="lead">
<a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019"> Coronavirus disease (COVID-19) pandemic</a></p><br>
<p><a href="https://openwho.org/courses/introduction-to-ncov"> Course: Emerging respiratory viruses, including COVID-19: methods for detection, prevention, response and control</a>

</p>
</section>
<footer class=" bg-dark" style="height: 80px;
    width: 1600px;">
        <div class="container my-2">
                <h6 class=" text-center text-white">Please be kind. Look after yourself, your family, friends and
                        neighbours. Take care.<br>
                        
        
                    </h6>
            <p class="text-center text-white">#WE ARE ONE</p>
            
        </div>
        <!-- /.container -->
    </footer>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" integrity="sha256-R4pqcOYV8lt7snxMQO/HSbVCFRPMdrhAFMH+vr9giYI=" crossorigin="anonymous"></script>
    <script language="JavaScript" src="http://www.geoplugin.net/javascript.gp" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/countries.js') }}"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>    
    
</body>
</html>
